*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Amatic SC', cursive;
}
body{
    background-color: #efefef;
}

/* HEADER------------------------------------------- */
header{
    width: 100%;
    height: 20vh;
    margin-bottom: 40px;
    text-align: center;
    font-size: 2rem;
    letter-spacing: .5rem;
    color: white;
    background-color: black;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Main ------------------------------------------ */
.video__Container{
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.video{
    display: block;
    margin: 0 auto 10px;
}

/* meddia player */
.media__player{
    display: flex;
    justify-content: center;
}

.button{
    display: inline-block;
    background-color: black;
    color: #efefef;
    padding: .8em 1.6em;
    border-color: transparent;
    box-shadow: 0 3px 5px 2px hsla(0,0,0,.6);
}
.button:hover{
    cursor: pointer;
    border-color: black;
    background-color: #efefef;
    color: black;
}
.button--play{
    margin-left: 20px;
}

/*Letra  */
.lyrics__container{
    width: 70%;
    margin: 0 auto;
}
.lyrics__title{
    font-size: 3rem;
    margin-bottom: 10px;
}
.lyrics{
    color: black;
    font-size: 1.6rem;
    margin-left: 30px;
    margin-bottom: 10px;
}